@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  padding: 0 50px;
  min-height: 400px;
  box-shadow: 0px 10px 30px #ccc;
}

.header {
  padding: 30px 0;
  text-align: center;
}

.header h1 {
  color: #1c3fa8;
  opacity: 0.4;
}

.form {
  display: flex;
  width: 100%;
  margin-bottom: 1.5em;
}

.form .input {
  width: 100%;
  padding: 2px 8px;
  font-size: 18px;
  font-family: inherit;
  border: 2px solid rgba(0, 34, 64, 0.4);
}

.form .input::placeholder {
  color: #d5d5d5;
}

.form .input:focus {
  outline: none;
}

.form .btn-form {
  width: 34px;
  height: 34px;
  background-color: #002240;
  color: #fff;
  border: none;
  text-align: center;
  font-size: 18px;
  margin-left: 10px;
  cursor: pointer;
}

.form .btn-form:focus {
  transform: scale(0.96);
}

.horizontal-line {
  opacity: 0.3;
}

.task-message {
  margin-top: 1em;
}

.task-list {
  padding: 1em 0;
}

.task-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
}

.task-check input {
  cursor: pointer;
}

.task-text,
.task-done {
  display: inline-block;
  width: 100%;
  font-size: 1em;
  margin-left: 0.625rem;
  padding: 0.8rem;
}

.task-done {
  color: #b6b6b6;
  text-decoration: line-through;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-task,
.delete-task {
  margin-left: 0.5rem;
  cursor: pointer;
}
